*.in
*.o
*.Po
*.Plo
*.exe
*.la
*.lo
*.so
*.so.*
.libs
.deps
.autotools
Makefile
bin
lib
configure
autom4te.cache
config.log
config.guess
config.sub
config.status
aclocal.m4
libtool
ltmain.sh
install-sh
missing
.cproject
.project
.settings
compile
depcomp
m4/libtool.m4
m4/lt*.m4
*.lai
*.a
.dirstamp
